:root{

--Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red-input-errors: hsl(0, 100%, 66%);  
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
--font-main:'Space Grotesk', sans-serif;
}

body{
    background-color: #010101e0;
    width: 1440px;
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.full__template{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    height: 630px;
    margin: 4em 0 0 13em;
    background-color: var(--White);  
}

.main__form{
    grid-column: 2;
    margin-top: 180px;
}

.card__name__title, .card__number__title, .card__date{
    font-size: 12px;
    font-family: var(--font-main);
    text-transform: uppercase;
    text-align: left;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

.input__number, .input__name{
    border: 1px solid var(--Very-dark-violet);
    border-radius: 5px;
    width: 22em;
    padding: 0.5em;
    margin-bottom: 2em;
    position: relative;
    right: 3em;
}

.input__date__month, .input__date__year, .input__cvc{
    width: 6em;
    margin: 0.3em;
    border: 1px solid var(--Very-dark-violet);
    border-radius: 5px;
    padding: 0.5em;
    position: relative;
    right: 3em;
}

.confirm__button{
  border: 1px solid var(--Very-dark-violet);
  border-radius: 5px;
  margin: 2em;
  margin-right: 7em;
  font-size: 16px;
  text-align: center;
  padding: 0.7em;
  background-color: var(--Very-dark-violet);
  color: var(--White);
  width: 19em;
}

.confirm__button:hover{
    cursor: pointer;
}


.img__vertical{
    position: absolute;
    top: 64px;
    left: 250px;
    width: 350px;
    height: 630px;
}

.img__front__card{
    position: absolute;
    top: 180px;
    left: 380px;
    width: 320px;
}

.img__back__card{
    position: absolute;
    top: 380px;
    left: 450px;
    width: 320px;
}


