:root{

--Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red-input-errors: hsl(0, 100%, 66%);  
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
--font-main:'Space Grotesk', sans-serif;
}

body{
    background-color: #010101e0;
    width: 1440px;
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.full__template{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    height: 630px;
    margin: 4em 0 0 13em;
    background-color: var(--White);  
}

.main__form{
    grid-column: 2;
    margin-top: 180px;
}

.card__name__title, .card__number__title, .card__date{
    font-size: 12px;
    font-family: var(--font-main);
    text-transform: uppercase;
    text-align: left;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

.input__number, .input__name{
    border: 1px solid var(--Very-dark-violet);
    border-radius: 5px;
    width: 22em;
    padding: 0.5em;
    margin-bottom: 2em;
    position: relative;
    right: 3em;
    text-align: center;
}

.input__date__month, .input__date__year, .input__cvc{
    width: 6em;
    margin: 0.3em;
    border: 1px solid var(--Very-dark-violet);
    border-radius: 5px;
    padding: 0.5em;
    position: relative;
    right: 3em;
    text-align: center;
}

.confirm__button{
  border: 1px solid var(--Very-dark-violet);
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  padding: 0.7em;
  background-color: var(--Very-dark-violet);
  color: var(--White);
  width: 19.4em;
  grid-column: 2;
  height: 50px; 
  position: absolute;
  top:480px;
  left: 854px;
}

.confirm__button:hover{
    cursor: pointer;

}

.blank__mensage{
    color: red;
    font-weight: bold;
    margin-right: 85px;
    font-size: 14px;
    margin-top: 4px;
}


.img__vertical{
    position: absolute;
    top: 64px;
    left: 250px;
    width: 350px;
    height: 630px;
}

.img__front__card{
    position: absolute;
    top: 180px;
    left: 380px;
    width: 320px;
}



.img__back__card{
    position: absolute;
    top: 380px;
    left: 450px;
    width: 320px;
}

.card__circle1{
    width: 40px;
    height: 40px;
    background-color: var(--White);
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 400px;
    border-radius: 100px;
}

.card__circle2{
    width: 15px;
    height: 15px;
    border: 1px solid var(--White);
    background-color: transparent;
    z-index: 1;
    position: absolute;
    top: 213px;
    left: 455px;
    border-radius: 100px;
}

.cardHolder__number{
    position: absolute;
    top: 270px;
    left: 420px;
    z-index: 1;
    color: var(--White);
    font-size: 20px;
    letter-spacing: 3px;
    max-width: 230px;

}

.cardHolder__name {
    position: absolute;
    top: 310px;
    z-index: 1;
    left: 400px;
    color: var(--White);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 225px;

}

.cardHolder__date, .cardHolder__date2{
    position: absolute;
    top: 320px;
    left: 625px;
    z-index: 1;
    color: var(--White);
    font-size: 12px;
    letter-spacing: 2px;
}

.cardHolder__date2{
    left: 650px;

}

.cardHolder__cvc{
    position: absolute;
    top: 458px;
    left: 690px;
    z-index: 1;
    color: var(--White);
    font-size: 16px;
    letter-spacing: 3px;
    max-width: 230px;

}

.icon__complete{
    width: 50px;
    position: relative;
    right: 45px;
    bottom: 100px;
}

.thankyou{
    font-size: 26px;
    text-transform: uppercase;
    color: var(--Very-dark-violet);
    font-family: var(--font-main);
    margin-right: 85px;
    margin-top: 150px; 
}

.thankyou__info{
    font-size: 12px;
    color: var(--Dark-grayish-violet);
    margin-right: 100px;
    margin-top: 1em;  
}

.input__name:valid{
    border: 2px solid blue ;
}

.input__number:valid{
    border: 2px solid blue ;
}

.input__date__month:valid{
    border: 2px solid blue ;
}

.input__date__year:valid{
    border: 2px solid blue ;
}

.input__cvc:valid{
    border: 2px solid blue ;
}

.input__name:invalid{
    border: 2px dashed red;
}

.input__number:invalid{
    border: 2px dashed red;
}

.input__date__month:invalid{
    border: 2px dashed red;
}

.input__date__year:invalid{
    border: 2px dashed red;
}

.input__cvc:invalid{
    border: 2px dashed red;
}




